@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

.shippori-antique-b1-regular {
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: azure;
}

.header {
    display: grid;
    grid-template-areas: "img nav";
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
    transition: 50ms;
}

.nav a:hover {
    transform: scale(1.1);
}

.img {
    grid-area: img;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    transition: 50ms;
}

.img:active {
    transform: rotateX(30deg);
}

.link {
    text-decoration: none;
}

.threeline {
    display: none;
}

.auth {
    color: crimson;
    background-color: azure;
    padding: 0.3rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
}

.button {
    background-color: unset;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 50ms;
    padding-block: 0;
    padding-inline: 0;
    margin: 0;
}

.button:hover {
    transform: scale(1.1);
}

.dropdown {
    position: relative;
}

.dropdownMenu {
    display: flex;
}

.menu {
    list-style: none;
    position: absolute;
    visibility: hidden;
    left: -5rem;
    z-index: 2;
}

.dropdown:nth-child(2) .menu {
    left: -1.5rem;
}

.menu li {
    border-radius: 1rem;
    background-color: azure;
}

.menu li:nth-child(1),
.menu li:nth-child(2) {
    margin-bottom: 1rem;
}

.menu li:hover {
    background-color: khaki;
}

.menu li a {
    display: block;
    color: crimson;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 2rem;
}

.dropdown:focus-within .menu {
    visibility: visible;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"]:nth-child(1):checked~.menu:nth-child(1) {
    visibility: visible;
}

input[type="checkbox"]:nth-child(2):checked~.menu:nth-child(2) {
    visibility: visible;
}

@media (max-width: 60rem) {
    .header {
        grid-template-areas: "img threeline" "nav nav";
    }

    .img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .nav {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: none;
        row-gap: 2rem;
    }

    .shippori-antique-b1-regular {
        font-size: 1.5rem;
    }

    .threeline {
        display: block;
        background-color: unset;
        outline: none;
        border: none;
        color: azure;
        padding-block: 0;
        padding-inline: 0;
        font-size: 3.5rem;
        text-align: end;
        cursor: pointer;
        transition: 50ms;
        margin-top: -1rem;
    }

    .threeline:active {
        transform: rotateX(30deg);
    }

    .menu {
        left: 2.5rem;
        top: -3rem
    }

    .dropdown:nth-child(2) .menu {
        left: 6.8rem;
    }

    .menu li {
        border-radius: 0.7rem;
    }

    .menu li:nth-child(1),
    .menu li:nth-child(2) {
        margin-bottom: 0.5rem;
    }

    .menu li a {
        font-size: 0.8rem;
        padding: 0.3rem 1rem;
    }
}

@media (max-width: 30rem) {
    .header {
        grid-template-areas: "img threeline" "nav nav";
    }

    .img {
        width: 2.6rem;
        height: 2.6rem;
    }

    .nav {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: none;
        row-gap: 1.3rem;
    }

    .shippori-antique-b1-regular {
        font-size: 1.1rem;
    }

    .threeline {
        display: block;
        background-color: unset;
        outline: none;
        border: none;
        color: azure;
        padding-block: 0;
        padding-inline: 0;
        font-size: 2.6rem;
        text-align: end;
        cursor: pointer;
        transition: 50ms;
        margin-top: -1rem;
    }

    .threeline:active {
        transform: rotateX(30deg);
    }

    .menu {
        left: 1.7rem;
        top: -2.3rem
    }

    .dropdown:nth-child(2) .menu {
        left: 4.7rem;
    }

    .menu li {
        border-radius: 0.7rem;
    }

    .menu li:nth-child(1),
    .menu li:nth-child(2) {
        margin-bottom: 0.3rem;
    }

    .menu li a {
        font-size: 0.6rem;
        padding: 0.2rem 0.7rem;
    }
}