@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Shippori+Antique+B1&display=swap');

.shippori-antique-b1-regular {
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: azure;
}

.header {
    display: grid;
    grid-template-areas: "logo nav";
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
    transition: 50ms;
}

.nav a:hover {
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transform: scale(1.15);
}

.img {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.threeline {
    display: none;
}

.auth {
    color: crimson;
    background-color: azure;
    padding: 0.3rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    transition: 50ms;
}

@media (max-width: 60rem) {
    .header {
        grid-template-areas: "logo threeline" "nav nav";
    }

    .nav {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: none;
        row-gap: 2rem;
    }

    .shippori-antique-b1-regular {
        font-size: 1.5rem;
    }

    .threeline {
        display: block;
        background-color: unset;
        outline: none;
        border: none;
        color: azure;
        padding-block: 0;
        padding-inline: 0;
        font-size: 3.5rem;
        text-align: end;
        margin-right: 2rem;
        cursor: pointer;
    }
}