@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

.shippori-antique-b1-regular {
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: azure;
}

.ysabeau-office-footer {
    font-family: "Ysabeau Office", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: azure;
}

.header {
    display: grid;
    grid-template-areas: "img nav";
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
    transition: 50ms;
}

.nav a:hover {
    transform: scale(1.1);
}

.img {
    grid-area: img;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    transition: 50ms;
}

.img:active {
    transform: rotateX(30deg);
}

.link {
    text-decoration: none;
}

.threeline {
    display: none;
}

.auth {
    color: crimson;
    background-color: azure;
    padding: 0.3rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    transition: 50ms;
}

.footer {
    display: grid;
    grid-template-areas:
        "foolterNav"
        "footerP footerP";
        /* "footerNav" */
        /* "footerNav footerNav footerNav"   */
        /* "footerSocial footerSocial"
        "footerSocial footerSocial"
        "footerSubcribe footerSubcribe"
        "footerSubcribe footerSubcribe" */
    background-color: firebrick;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* .footerImg {
    grid-area: footerImg;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
} */

.footerP {
    grid-area: footerP;
    text-align: justify;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 3rem;
}

.footerNav {
    grid-area: footerNav;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    transition: 50ms;
}

.footerNav a:hover {
    transform: scale(1.1);
}

.footerThreeline {
    display: none;
}

.footerLink {
    text-decoration: none;
}
@media (max-width: 60rem) {
    .header {
        grid-template-areas: "img threeline" "nav nav";
    }

    .nav {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: none;
        row-gap: 2rem;
    }

    .shippori-antique-b1-regular {
        font-size: 1.5rem;
    }

    .threeline {
        display: block;
        background-color: unset;
        outline: none;
        border: none;
        color: azure;
        padding-block: 0;
        padding-inline: 0;
        font-size: 3.5rem;
        text-align: end;
        cursor: pointer;
        transition: 50ms;
    }

    .threeline:active {
        transform: rotateX(30deg);
    }

    .ysabeau-office-footer {
        font-size: 1rem;
    }

}