@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

.kantumruy-pro-footer {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: azure;
  font-size: 1.3rem;
}

.footer {
    display: grid;
    grid-template-areas:
        "foolterNav"
        "footerP footerP";
    background-color: firebrick;
    position: fixed;
    bottom: 0vh;
    left: 0vw;
    right: 0vw;
}

/* .footerImg {
    grid-area: footerImg;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
} */

.footerP {
    grid-area: footerP;
    text-align: justify;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 2rem;
}

.footerNav {
    grid-area: footerNav;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    transition: 50ms;
}

.footerNav a:hover {
    transform: rotateX(20deg);
}

.footerThreeline {
    display: none;
}

.footerLink {
    text-decoration: none;
}

.footerIcon {
    background-color: azure;
    color: crimson;
    margin-left: 1.2rem;
    border-radius: 50%;
    transition: 50ms;
}

.footerIcon:nth-child(4) {
    background-color: crimson;
    color: azure;
}

.footerIcon a:hover {
    transform: translateY(2rem)
}

@media (max-width: 60rem) {
    .kantumruy-pro-footer {
        font-size: 0.7rem;
    }

    .footerP {
        margin-top: 1rem;
    }

    .footerIcon {
        margin-left: 0.7rem;
    }
}

@media (max-width: 30rem) {
    .kantumruy-pro-footer {
        font-size: 0.35rem;
    }

    .footerP {
        margin-top: 0.5rem;
    }

    .footerIcon {
        margin-left: 0.4rem;
    }
}