body {
  box-sizing: border-box;
  background-image: url("./assets/background-game.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* overflow-x: hidden;
  overflow-y: hidden;
  margin: 0; */
  margin: 0;
}
*::selection {
  background: none;
}
* {
  user-select: none;
}
.spinner{
  display: block;
  margin: auto;
}